*{
  background-color: lightcoral;
}
button{
  color: yellowgreen;
  background-color: black;
  cursor: pointer;
  margin: 10px;
  border-radius: 6%;
  border: none;
}
div{
  color: yellow;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}